body{
    color:rgb(158, 4, 94);
    background-color: rgb(255, 163, 228);
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header{
    grid-row: 1;
    height: 100px;
    width: 100%;
    color: aliceblue;
    text-align: center;
    z-index: 1;
    background-color: rgb(180, 6, 30);
}

main{
    grid-row: 2;
    padding-top: 20px;
    padding-left: 20px;
    width: 75%;
    
}

article{
    grid-row: 2;
    padding: 20px;
    width: 90%
}

aside{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 20%;
    padding-top: 100px;
    padding-left: 20px;
    color: rgb(129, 8, 69);
    background-color: rgb(255, 181, 237);
}

img{
    width: 400px;
}